<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!--<h2>Name of the schools</h2>-->

  <!--<p>
    Take a look at the <code>src/pages/</code> directory to add or change tabs,
    update any existing page or create new pages.
  </p>-->
      <!--<table border="1" class="demoTable">
        <tr *ngFor="let x of csvData">
          <td>{{x.world_rank}}</td>
          <td>{{x.institution}}</td>
          <td>{{x.country}}</td>
        </tr>
    </table>-->

    <ion-card *ngFor="let x of csvData" class="card-background-page">
      <ion-card-header>
        {{x.institution}}
      </ion-card-header>
      <ion-card-content>
        <!-- Add card content here! -->
              <table  class="demoTable">
                <tr >
                  <td>{{x.world_rank}}</td>
                  <td>{{x.institution}}</td>
                  <td>{{x.country}}</td>
                </tr>
         </table>
      </ion-card-content>
      <ion-grid>
         <ion-row >
         <ion-col>
              <button ion-button round>
                <ion-icon name="cart"></ion-icon>
                <div>Shopping</div>
              </button>
            </ion-col>
            <ion-col>
              <button ion-button round> 
                <ion-icon name="medical"></ion-icon>
                <div>Hospital</div>
              </button>
            </ion-col>
            <ion-col>
            <button ion-button round>
                <ion-icon name="cafe"></ion-icon>
                <div>Cafe</div>
              </button>
            </ion-col>
         </ion-row>
         <ion-row>
            <ion-col>
              <button ion-button round> 
                <ion-icon name="paw"></ion-icon>
                <div>Dog Park</div>
              </button>
            </ion-col> 
            <ion-col>
               <button ion-button round>
                <ion-icon name="planet"></ion-icon>
                <div>Space</div>
              </button>
            </ion-col>
            <ion-col>
              <button ion-button round> 
                <ion-icon name="beer"></ion-icon>
                <div>Pub</div>
              </button>
            </ion-col>
          </ion-row>
          </ion-grid>

    </ion-card>

</ion-content>
